# Data Types

In [ ]:
int, float, complex

In [ ]:
type()

In [ ]:
isinstance()

In [1]:
a = 5
print(a, type(a))

5 <class 'int'>

In [2]:
a = 1.5
print(a, type(a))

1.5 <class 'float'>

In [5]:
a = 1 + 2j
print(a, isinstance(a, complex))

(1+2j) True

In [6]:
type(a)

complex

In [8]:
a = 4444444444444444444444444444444444444444444444444444444444444444

In [11]:
b = 1.444445555555555555555555555555555555544444444444444444444444

In [ ]:
 x + yj

# List

In [22]:
numbers =  [1,2,3,4,5]

In [23]:
numbers[0]

1

In [13]:
print(numbers)

[1, 2, 3, 4, 5]

In [14]:
names = ['Parkash', 'Ahsan', 'Afreen', 'Aarush']

In [15]:
print(names)

['Parkash', 'Ahsan', 'Afreen', 'Aarush']

In [18]:
l = [1,2,3, 'Parkash', 3.4, 1+4j, 'Python Programming is good for Data Science', print]

In [25]:
l[6] = 10

In [26]:
print(l)

[1, 2, 3, 'Parkash', 3.4, (1+4j), 10, <built-in function print>]

In [ ]:
l

# Tuple

In [20]:
t = (1,4)

In [21]:
print(t)

(1, 4)

In [28]:
t[0] = 10

TypeError: 'tuple' object does not support item assignment

# Strings

In [32]:
name = 'Parkash Heerani'

In [29]:
c = 'i'

In [30]:
uni = "Institute of Business Administration Karachi"

In [33]:
name[0]

'P'

# Sets

In [40]:
s = {1,3,3,3,3,4}

In [41]:
print(s)

{1, 3, 4}

In [ ]:
tuples, lists

In [36]:
l = [2,3,3,3]

In [37]:
l

[2, 3, 3, 3]

In [38]:
t = (3,3,3,3)

In [39]:
t

(3, 3, 3, 3)

# Dictionaries

In [44]:
d = {
    'key' : 'value',
    'name' : 'Parkash Heerani',
    'age' : 22,
    'friends' : ['Ahsan', 'Aarush', 'Afreen', 'Halima']
}

In [47]:
d['friends']

['Ahsan', 'Aarush', 'Afreen', 'Halima']

# Conversions

In [48]:
a = 4.5

In [49]:
int(a)

4

In [50]:
float(3)

3.0

In [51]:
str(3.4)

'3.4'

In [58]:
float('3.4')

3.4

In [60]:
int('1')

1

In [62]:
set([1,2,3,3])

{1, 2, 3}

In [63]:
list((2,3,4,5,5))

[2, 3, 4, 5, 5]

In [64]:
list('ABCD')

['A', 'B', 'C', 'D']