# Dictionary

In [ ]:
# sytax
d = {
    key: value
}

In [1]:
d1 = {}
d2 = dict()

In [4]:
d1 = {
    'key1' : 'value1',
    'key2' : 'value2',
    'key3' : 'value3'
}

In [38]:
d2 = {
    10 : 'Parkash',
    20 : 'Ahsan',
    30 : 'TEacher'
}

In [6]:
d3 = {
    'Parkash' : ['Ali', 'Ahsan'],
    'Ali' : ['Ahsan', 'Saroosh'],
    'Ahsan' : ['Parkash', 'Ali', 'Gunesh', 'Krishna']
}

# Accessing

In [7]:
d3['Parkash']

['Ali', 'Ahsan']

In [8]:
d3.get('Parkash')

['Ali', 'Ahsan']

In [9]:
d3['Gunesh']

KeyError: 'Gunesh'

In [11]:
print(d3.get('Gunesh'))

None

# Changing or Adding

In [23]:
d2

{10: 'Parkash', 20: 'Ahsan', 30: 'TEacher'}

In [26]:
d2[20] = 'Krishna'

In [27]:
d2

{10: 'Parkash', 20: 'Krishna', 30: 'TEacher'}

In [28]:
d2[50] = 'Uncle'

In [29]:
d2

{10: 'Parkash', 20: 'Krishna', 30: 'TEacher', 50: 'Uncle'}

# Removing

In [36]:
name = d2.pop(30)

In [39]:
d2

{10: 'Parkash', 20: 'Ahsan', 30: 'TEacher'}

In [40]:
d2.popitem()

(30, 'TEacher')

In [42]:
d2

{10: 'Parkash', 20: 'Ahsan'}

In [43]:
d2.clear()

In [44]:
d2

{}

In [45]:
d3

{'Parkash': ['Ali', 'Ahsan'],
 'Ali': ['Ahsan', 'Saroosh'],
 'Ahsan': ['Parkash', 'Ali', 'Gunesh', 'Krishna']}

In [46]:
d3.keys()

dict_keys(['Parkash', 'Ali', 'Ahsan'])

In [47]:
d3.values()

dict_values([['Ali', 'Ahsan'], ['Ahsan', 'Saroosh'], ['Parkash', 'Ali', 'Gunesh', 'Krishna']])

In [48]:
d3.items()

dict_items([('Parkash', ['Ali', 'Ahsan']), ('Ali', ['Ahsan', 'Saroosh']), ('Ahsan', ['Parkash', 'Ali', 'Gunesh', 'Krishna'])])

In [49]:
for name, friends in d3.items():
    print(name, 'has these friends: ')
    for friend in friends:
        print(friend)

Parkash has these friends:
Ali
Ahsan
Ali has these friends:
Ahsan
Saroosh
Ahsan has these friends:
Parkash
Ali
Gunesh
Krishna

In [50]:
for name in d3.keys():
    print(name)

Parkash
Ali
Ahsan

# Dictionary Comprehension

In [54]:
d = {x: x**2 for x in range(101)}

In [55]:
s = {}
for x in range(101):
    s[x] = x**2
s

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625,
 26: 676,
 27: 729,
 28: 784,
 29: 841,
 30: 900,
 31: 961,
 32: 1024,
 33: 1089,
 34: 1156,
 35: 1225,
 36: 1296,
 37: 1369,
 38: 1444,
 39: 1521,
 40: 1600,
 41: 1681,
 42: 1764,
 43: 1849,
 44: 1936,
 45: 2025,
 46: 2116,
 47: 2209,
 48: 2304,
 49: 2401,
 50: 2500,
 51: 2601,
 52: 2704,
 53: 2809,
 54: 2916,
 55: 3025,
 56: 3136,
 57: 3249,
 58: 3364,
 59: 3481,
 60: 3600,
 61: 3721,
 62: 3844,
 63: 3969,
 64: 4096,
 65: 4225,
 66: 4356,
 67: 4489,
 68: 4624,
 69: 4761,
 70: 4900,
 71: 5041,
 72: 5184,
 73: 5329,
 74: 5476,
 75: 5625,
 76: 5776,
 77: 5929,
 78: 6084,
 79: 6241,
 80: 6400,
 81: 6561,
 82: 6724,
 83: 6889,
 84: 7056,
 85: 7225,
 86: 7396,
 87: 7569,
 88: 7744,
 89: 7921,
 90: 8100,
 91: 8281,
 92: 8464,
 93: 8649,
 94: 8836,
 95: 9025,
 96: 9216,
 97: 9409,
 98: 9604,
 99: 9801,
 100: 10000}

In [59]:
d = {x: x**2 for x in range(101) if x%2 == 0}

In [60]:
d

{0: 0,
 2: 4,
 4: 16,
 6: 36,
 8: 64,
 10: 100,
 12: 144,
 14: 196,
 16: 256,
 18: 324,
 20: 400,
 22: 484,
 24: 576,
 26: 676,
 28: 784,
 30: 900,
 32: 1024,
 34: 1156,
 36: 1296,
 38: 1444,
 40: 1600,
 42: 1764,
 44: 1936,
 46: 2116,
 48: 2304,
 50: 2500,
 52: 2704,
 54: 2916,
 56: 3136,
 58: 3364,
 60: 3600,
 62: 3844,
 64: 4096,
 66: 4356,
 68: 4624,
 70: 4900,
 72: 5184,
 74: 5476,
 76: 5776,
 78: 6084,
 80: 6400,
 82: 6724,
 84: 7056,
 86: 7396,
 88: 7744,
 90: 8100,
 92: 8464,
 94: 8836,
 96: 9216,
 98: 9604,
 100: 10000}

In [62]:
5 in d

False

In [64]:
10 in d

True