# For Loop

In [ ]:
loops

In [ ]:
# Program to print first 10 positve integers

In [1]:
print(0)
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# You use loop for interating

In [2]:
l = [1,2,3,4,5]

In [ ]:
for value in sequence:
    body of for // code

In [5]:
for value in [1,2,3,4,5]:
    print(value*2)

2
4
6
8
10

In [9]:
range(10)

range(0, 10)

In [10]:
for value in range(20):
    print(value)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [12]:
s = 0

for value in range(1,21):
    s = s + value

In [14]:
print('The sum of first 20 numbers is ', s)

The sum of first 20 numbers is  210

In [20]:
# Range
print(range(10))
print(list(range(10)))
print(list(range(10,20,2)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 12, 14, 16, 18]

In [21]:
names = ['Parkash', 'Aakash', 'Shiv', 'Ahsan', 'Ali']

for name in names:
    print(name)

Parkash
Aakash
Shiv
Ahsan
Ali

In [27]:
for i in range(len(names)):
    print(names[i])

Parkash
Aakash
Shiv
Ahsan
Ali

In [24]:
len(names)

5

In [26]:
names[1]

'Aakash'

In [28]:
 d = {
     'Parkash' : 90,
     'Akash' : 100,
     'Shiv' : 40,
     'Ahsan' : 70
 }

In [29]:
d.values()

dict_values([90, 100, 40, 70])

In [31]:
d.keys()

dict_keys(['Parkash', 'Akash', 'Shiv', 'Ahsan'])

In [32]:
d.items()

dict_items([('Parkash', 90), ('Akash', 100), ('Shiv', 40), ('Ahsan', 70)])

In [33]:
for mark in d.values():
    print(mark)

90
100
40
70

In [34]:
for name in d.keys():
    print(name)

Parkash
Akash
Shiv
Ahsan

In [37]:
for name, mark in d.items():
    print('Student name is', name)
    print('His marks are ', mark)

Student name is Parkash
His marks are  90
Student name is Akash
His marks are  100
Student name is Shiv
His marks are  40
Student name is Ahsan
His marks are  70