# format datetime

In [ ]:
US - mm/dd/yyyy
UK - dd/mm/yyyy

In [2]:
from datetime import datetime

In [ ]:
1. datetime.strftime()
2. datetime.strptime()

In [10]:
now = datetime.now()

t1 = now.strftime("%H : %M : %S")
print('Time: ', t1)

t2 = now.strftime("%d : %m : %y, %H : %M : %S")
print('Date and time: ', t2)

t2 = now.strftime("%m : %d : %y, %H : %M : %S")
print('Date and time: ', t2)

print('Year: ', now.strftime('%y'))
print('Month: ', now.strftime('%m'))
print('Day: ', now.strftime('%d'))

Time:  01 : 04 : 17
Date and time:  04 : 10 : 20, 01 : 04 : 17
Date and time:  10 : 04 : 20, 01 : 04 : 17
Year:  20
Month:  10
Day:  04

In [11]:
import pandas as pd

In [14]:
pd.DataFrame(pd.read_html('https://www.programiz.com/python-programming/datetime/strftime')[0])

,Directive,Meaning,Example
0,%a,Abbreviated weekday name.,"Sun, Mon, ..."
1,%A,Full weekday name.,"Sunday, Monday, ..."
2,%w,Weekday as a decimal number.,"0, 1, ..., 6"
3,%d,Day of the month as a zero-padded decimal.,"01, 02, ..., 31"
4,%-d,Day of the month as a decimal number.,"1, 2, ..., 30"
5,%b,Abbreviated month name.,"Jan, Feb, ..., Dec"
6,%B,Full month name.,"January, February, ..."
7,%m,Month as a zero-padded decimal number.,"01, 02, ..., 12"
8,%-m,Month as a decimal number.,"1, 2, ..., 12"
9,%y,Year without century as a zero-padded decimal ...,"00, 01, ..., 99"
10,%-y,Year without century as a decimal number.,"0, 1, ..., 99"
11,%Y,Year with century as a decimal number.,"2013, 2019 etc."
12,%H,Hour (24-hour clock) as a zero-padded decimal ...,"00, 01, ..., 23"
13,%-H,Hour (24-hour clock) as a decimal number.,"0, 1, ..., 23"
14,%I,Hour (12-hour clock) as a zero-padded decimal ...,"01, 02, ..., 12"
15,%-I,Hour (12-hour clock) as a decimal number.,"1, 2, ... 12"
16,%p,Locale’s AM or PM.,"AM, PM"
17,%M,Minute as a zero-padded decimal number.,"00, 01, ..., 59"
18,%-M,Minute as a decimal number.,"0, 1, ..., 59"
19,%S,Second as a zero-padded decimal number.,"00, 01, ..., 59"
20,%-S,Second as a decimal number.,"0, 1, ..., 59"
21,%f,"Microsecond as a decimal number, zero-padded o...",000000 - 999999
22,%z,UTC offset in the form +HHMM or -HHMM.,NaN
23,%Z,Time zone name.,NaN
24,%j,Day of the year as a zero-padded decimal number.,"001, 002, ..., 366"
25,%-j,Day of the year as a decimal number.,"1, 2, ..., 366"
26,%U,Week number of the year (Sunday as the first d...,"00, 01, ..., 53"
27,%W,Week number of the year (Monday as the first d...,"00, 01, ..., 53"
28,%c,Locale’s appropriate date and time representat...,Mon Sep 30 07:06:05 2013
29,%x,Locale’s appropriate date representation.,09/30/13
30,%X,Locale’s appropriate time representation.,07:06:05
31,%%,A literal '%' character.,%