In [ ]:
// [expression for item in sequence]

In [4]:
l = [value**2 for value in list(range(10))]

In [5]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
#IF
[value**2 for value in list(range(10)) if value%2 == 0]

[0, 4, 16, 36, 64]

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
l = []
for value in list(range(10)):
    if value%2 == 0:
        l.append(value**2)
l

[0, 4, 16, 36, 64]

In [11]:
l = []
for value in list(range(20)):
    if value%2 == 0:
        if value%3 == 0:
            l.append(value**2)
l

[0, 36, 144, 324]

In [13]:
#multiple IFs
[value**2 for value in list(range(20)) if value%2 == 0 if value%3 == 0]

[0, 36, 144, 324]

In [ ]:
# IF Else
[value**2 if value%2 == 0 else value**3 for value in list(range(10))]

In [14]:
l = []
for value in list(range(10)):
    if value%2 == 0:
        l.append(value**2)
    else:
        l.append(value**3)

l

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]

In [24]:
# Nested lists

l = [[1,2,3], [10,20,30], [100,200,300,400,500]]

[inner**2 for outer in l for inner in outer]

[1, 4, 9, 100, 400, 900, 10000, 40000, 90000, 160000, 250000]

In [25]:
for outer in l:
        print(outer)

[1, 2, 3]
[10, 20, 30]
[100, 200, 300, 400, 500]

In [20]:
for item in l:
    for i in item:
        print(i**2)

1
4
9
100
400
900
10000
40000
90000
160000
250000