# List

In [6]:
# Empty list
l1 = []

# List of numbers
l2 = [2,3,4,5,6,7,8]

# List of mixed data types
l3 = [1,2,3.4, 'Parkash', 1+3j, print]

# Nested list

nested_list = [1,2,3, ['Name1', 'Name2', 'Name3', [12,15,20,40]], 3,4,5]

In [3]:
l1

[]

In [4]:
l2

[2, 3, 4, 5, 6, 7, 8]

In [5]:
l3

[1, 2, 3.4, 'Parkash', (1+3j), <function print>]

In [7]:
nested_list

[1, 2, 3, ['Name1', 'Name2', 'Name3', [12, 15, 20, 40]], 3, 4, 5]

# Accessing data from lists

In [8]:
l = ['a', 'b', 'c', 'd']

In [9]:
len(l)

4

In [10]:
l[0]

'a'

In [11]:
l[3]

'd'

In [12]:
l[-1]

'd'

In [13]:
l[-2]

'c'

In [14]:
l[4]

IndexError: list index out of range

In [15]:
l[2.3]

TypeError: list indices must be integers or slices, not float

In [16]:
nested_list = [1,2,3, ['Name1', 'Name2', 'Name3', [12,15,20,40]], 3,4,5]

In [19]:
nested_list[3][3][2]

20

# Slicing

In [20]:
l = list(range(20))

In [21]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [25]:
# up to 4th index
l[:5]

[0, 1, 2, 3, 4]

In [26]:
# from 2nd to 9th
l[2:10]

[2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
#from 5th to last
l[5:]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# Entire list
l[:]

# Changing or Adding

In [56]:
names = ['Parkash', 'Ahsan', 'Ali', 'Afreen']

In [30]:
names[1] = 'Afreen'

In [33]:
names

['Parkash', 'Ahsan', 'Ali', 'Afreen']

In [40]:
names[1:3] = ['A1']

In [43]:
names

['Parkash', 'Ahsan', 'Ali', 'Afreen']

In [44]:
del names[0]

In [46]:
names

['Ahsan', 'Ali', 'Afreen']

In [47]:
names.append('Parkash')

In [48]:
names

['Ahsan', 'Ali', 'Afreen', 'Parkash']

In [57]:
names.extend(['A1', 'A2', 'A3'])

In [50]:
names

['Ahsan', 'Ali', 'Afreen', 'Parkash', 'A1', 'A2', 'A3']

In [51]:
names.append(['A1', 'A2', 'A3'])

In [52]:
names

['Ahsan', 'Ali', 'Afreen', 'Parkash', 'A1', 'A2', 'A3', ['A1', 'A2', 'A3']]

In [54]:
names.clear()

In [55]:
names

[]

In [60]:
names

['Parkash', 'Ahsan', 'Ali', 'Afreen', 'A1', 'A2', 'A3']

In [66]:
temp = names[2:5]

In [67]:
temp = ['B1', 'B2', 'B3']

In [70]:
names.count('A1')

1

In [71]:
names.reverse()

In [72]:
names

['A3', 'A2', 'A1', 'Afreen', 'Ali', 'Ahsan', 'Parkash']

In [73]:
l1 = [1,2,3]
l2 = ['a', 'b', 'c']

In [74]:
l1 + l2

[1, 2, 3, 'a', 'b', 'c']

In [75]:
l1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [76]:
names.insert(2, 5)
# names[2] = 5

In [77]:
names

['A3', 'A2', 5, 'A1', 'Afreen', 'Ali', 'Ahsan', 'Parkash']

In [78]:
names.remove(5)

In [79]:
names

['A3', 'A2', 'A1', 'Afreen', 'Ali', 'Ahsan', 'Parkash']

In [83]:
names.pop()

'Parkash'

In [84]:
names

['A3', 'A2', 'A1', 'Afreen', 'Ahsan']

In [88]:
names.

AttributeError: type object 'list' has no attribute 'method'

In [89]:
names

['A3', 'A2', 'A1', 'Afreen', 'Ahsan']

In [90]:
'A1' in names

True

In [91]:
for name in names:
    print(name)

A3
A2
A1
Afreen
Ahsan

In [ ]:
# List comprehension