# Arithmatic Operators

In [2]:
a, b = 15, 4

In [3]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b) 
print(a**b)

19
11
60
3.75
3
3
50625

# Comparison Operators

In [4]:
x , y = 10, 12

In [5]:
print('x < y ', x < y)
print('x > y ', x > y)
print('x <= y ', x <= y)
print('x >= y ', x >= y)
print('x == y ', x == y)
print('x != y ', x != y)

x < y  True
x > y  False
x <= y  True
x >= y  False
x == y  False
x != y  True

# Logical Operators

In [ ]:
and, or, not

In [6]:
x = True
y = False

In [7]:
print( x and y)
print( x or y)
print( not x)

False
True
False

In [8]:
a = 5

In [9]:
a > 0 and x%2 == 0

False

# Bitwise Operators

In [10]:
and = &
or = |
not = ~
XOR = ^
right shift = >>
left shift = <<

SyntaxError: invalid syntax (<ipython-input-10-483f30f66ab7>, line 1)

# Assignment Operators

In [11]:
x = 6

In [ ]:
Assignment operator =

In [15]:
x %= 5 # x = x % 5

In [16]:
x

6

# Identity Operators

In [ ]:
is, is not

In [20]:
x1 = 5
y1 = 5

x2 = 'parkash'
y2 = 'parkash'

x3 = [1,2,3]
y3 = [1,2,3]

In [32]:
id(x3)

2668181278472

In [33]:
id(y3)

2668180692552

In [21]:
print(x1 is not y1)

False

In [22]:
print(x2 is y2)

True

In [35]:
print(x3 is y3)

False

In [28]:
id(x1)

140726934156240

In [29]:
id(y1)

140726934156240

In [30]:
id(x2)

2668180822592

In [31]:
id(y2)

2668180822592

# Membership Operators

In [ ]:
in, not in

In [37]:
x = 'parkash'
y = [2,4,6,8]

In [41]:
'P' not in x

True

In [42]:
2 in y

True