# Python Variables

In [1]:
number = 10

In [4]:
print(number)

10

In [7]:
print('number = ', number)

number =  10

In [5]:
name = 'Parkash'

In [6]:
print(name)

Parkash

In [8]:
1n = 4

SyntaxError: invalid syntax (<ipython-input-8-fbdefc20a991>, line 1)

# Variables Naming

A - Z, a - z, 0 - 9, _

In [12]:
name9 = 4

In [13]:
print(name9)

4

In [ ]:
snake_case
MACRO_CASE
camelCase
CapWords

In [ ]:
universities = 'IBA'

In [ ]:
name_of_school = 'IBA'

# Assigning

In [14]:
a = 6
b = 7

In [18]:
a, b, c = 5, 6, 10

In [19]:
print(a,b,c)

5 6 10

In [20]:
a = 5
b = 5

In [25]:
a = b = c =  5

In [23]:
print(a)

5

In [24]:
print(b)

5

In [26]:
print(c)

5

In [27]:
name, age, uni = 'Parkash', 22, 'IBA'

In [29]:
print('Name = ', name, '\nage = ', age, '\nUniversity = ', uni)

Name =  Parkash
age =  22
University =  IBA

In [30]:
number = 5

In [31]:
print(number)

5

In [32]:
number = 10

In [33]:
print(number)

10

In [34]:
print = 5

In [36]:
print('asd')

TypeError: 'int' object is not callable