# Strings

In [ ]:
string: Sequence of characters

In [ ]:
a,b,c..
1,2,3,..
/, (, $, . . .

In [3]:
my_string1 = 'a'

In [7]:
my_string2 = "My Name is Parkash Heerani"

In [9]:
my_string3 = ''' Python language is
        best for data science'''

In [10]:
print(my_string1)
print(my_string2)
print(my_string3)

a
My Name is Parkash Heerani
 Python language is
        best for data science

# Accessing

In [11]:
s = 'Parkash'

In [12]:
s

'Parkash'

In [13]:
s[1]

'a'

In [14]:
s[-1]

'h'

In [15]:
s[1:3]

'ar'

In [16]:
s[10]

IndexError: string index out of range

In [17]:
s

'Parkash'

In [18]:
s[2] = 'h'

TypeError: 'str' object does not support item assignment

In [19]:
del s[2]

TypeError: 'str' object doesn't support item deletion

# Operations

In [26]:
s1 = 'Hello, '
s2 = 'Parkash'

In [27]:
s1+s2

'Hello, Parkash'

In [29]:
'Hello, ' 'Parkash'

'Hello, Parkash'

In [28]:
s1*5

'Hello, Hello, Hello, Hello, Hello, '

In [30]:
s1

'Hello, '

In [31]:
for c in s1:
    print(c)

H
e
l
l
o
,

In [ ]:
0101010100101

In [ ]:
ASCII - American Standard Code for Information Interchange

In [34]:
s = 'A'

In [43]:
chr(ord(s)+1)

'B'

In [ ]:
A - 65
B - 66
C - 67
.
.
.
Z

In [48]:
for i in range(33, 200):
    print(chr(i), i)

! 33
" 34
# 35
$ 36
% 37
& 38
' 39
( 40
) 41
* 42
+ 43
, 44
- 45
. 46
/ 47
0 48
1 49
2 50
3 51
4 52
5 53
6 54
7 55
8 56
9 57
: 58
; 59
< 60
= 61
> 62
? 63
@ 64
A 65
B 66
C 67
D 68
E 69
F 70
G 71
H 72
I 73
J 74
K 75
L 76
M 77
N 78
O 79
P 80
Q 81
R 82
S 83
T 84
U 85
V 86
W 87
X 88
Y 89
Z 90
[ 91
\ 92
] 93
^ 94
_ 95
` 96
a 97
b 98
c 99
d 100
e 101
f 102
g 103
h 104
i 105
j 106
k 107
l 108
m 109
n 110
o 111
p 112
q 113
r 114
s 115
t 116
u 117
v 118
w 119
x 120
y 121
z 122
{ 123
| 124
} 125
~ 126
 127
 128
 129
 130
 131
 132
 133
 134
 135
 136
 137
 138
 139
 140
 141
 142
 143
 144
 145
 146
 147
 148
 149
 150
 151
 152
 153
 154
 155
 156
 157
 158
 159
  160
¡ 161
¢ 162
£ 163
¤ 164
¥ 165
¦ 166
§ 167
¨ 168
© 169
ª 170
« 171
¬ 172
­ 173
® 174
¯ 175
° 176
± 177
² 178
³ 179
´ 180
µ 181
¶ 182
· 183
¸ 184
¹ 185
º 186
» 187
¼ 188
½ 189
¾ 190
¿ 191
À 192
Á 193
Â 194
Ã 195
Ä 196
Å 197
Æ 198
Ç 199

In [49]:
s = 'Parkash Heerani'

In [50]:
count = 0
for c in s:
    if c == 'a':
        count = count + 1

In [51]:
count

3

# Membership test

In [53]:
'a' in s

True

In [54]:
'z' in s

False

In [55]:
print('Parkash Heerani')

Parkash Heerani

In [57]:
print('Parkash \nHeerani')

Parkash
Heerani

In [58]:
print('Parkash \t Heerani')

Parkash 	 Heerani

In [ ]:
s.