# Tuples

In [1]:
t = (1,2,3,4)

In [2]:
t1 = (1, 3.4, 'Parkash')

In [3]:
t2 = ([1,2,'ab'], (1,2), {'1' : 10, '2': 20})

In [9]:
print(t)
print(t1)
print(type(t2))

Hi
(1, 3.4, 'Parkash')
<class 'tuple'>

In [ ]:
list: []
tuple: ()

In [10]:
#Parethesis are optionl
t = 1,2,3,4,5

In [11]:
type(t)

tuple

In [15]:
t = ('Hi',)

In [16]:
type(t)

tuple

# Accessing

In [19]:


t = (10, 20, 30, 40, 50)

In [20]:
t[0]

10

In [21]:
t[-1]

50

In [22]:
t[5]

IndexError: tuple index out of range

# Slicing

In [23]:
t

(10, 20, 30, 40, 50)

In [24]:
t[:2]

(10, 20)

In [25]:
t[:-2]

(10, 20, 30)

# Changing items

In [26]:
l = [1,2,3]

In [28]:
l[1] = 'Parkash'

In [29]:
l

[1, 'Parkash', 3]

In [32]:
t = (10, 20, 30, ['Parkash', 1, 3], 50)

In [34]:
t[3][0] = 0

In [35]:
t

(10, 20, 30, [0, 1, 3], 50)

In [36]:
t1 = (1,2,3)
t2 = (10, 20, 30)

In [37]:
t1+t2

(1, 2, 3, 10, 20, 30)

In [38]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

# Deleting

In [39]:
t1

(1, 2, 3)

In [40]:
del t1

In [41]:
t1

NameError: name 't1' is not defined

In [45]:
t2 = (2,3,2,3,2,3,4,5,4,3,3)

In [46]:
t2.count(2)

3

In [47]:
t2.index(3)

1

# Membership test

In [48]:
t2

(2, 3, 2, 3, 2, 3, 4, 5, 4, 3, 3)

In [49]:
5 in t2

True

In [50]:
10 in t2

False

# Iterate

In [52]:
for item in t2:
    print(item*10)

20
30
20
30
20
30
40
50
40
30
30